<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emails</title>
    <!-- fontawesome -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css' integrity='sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==' crossorigin='anonymous'/>
    <!-- stile -->
    <link rel="stylesheet" href="css/style.css">
    <!-- axios -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js' integrity='sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ==' crossorigin='anonymous'></script>
    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- script -->
    <script src="js/main.js" defer></script>
</head>
<body>

    <div id="root">

        <div v-if="isLoading"><i class="fa-solid fa-spinner fa-spin fa-4x"></i></div>
        
        <!-- se mettevo il v-if v-else non mi entrava nella condizione delle email perchè non generava 10 email ma di meno perchè lo fermavo prima con il v-if -->
        <ul v-show="!isLoading">
            <li v-for="email in emails">{{email}}</li>
        </ul>

    </div>
    
</body>
</html>